
html {
    height: 100%;
    background: rgb(0,60,7);
    background: linear-gradient(143deg, rgba(0,60,7,1) 7%, rgba(0,131,15,1) 33%, rgba(0,131,15,1) 100%);
    background-attachment: fixed;
    color: white !important;
}
tr:hover {
    cursor: pointer;
}
table button:hover {
    background: none !important;
}
#headerSearch {
    padding-bottom: 16px;
}
#search {
    float: left;
    position: relative;
    left: 10%;
    width: 68%;
}
#searchColumn {
    position: relative;
    width: 10%;
    left: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}
#searchBtn:hover {
    background: none !important;
}
#searchColumn:hover {
    cursor: pointer;
}
#searchBtn {
    position: relative;
    float: left;
    left: 3.5%;
    background: none;
}
#searchIcon {
    height: 24px;
}
#uploadFormContent, #profileDescContent {
    overflow-y: auto;
    max-height: 80%;
}
#profileBtn {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    height: 60px;
    width: 60px;
    background-color: #003C07;
    color: white;
    border: 2px lightgray solid;
}
#profileIcon {
    height: 24px;
}
#userListProfile {
    display: none;
}
#profileDesc, #gradingForm, #uploadForm {
    color: black;
}
.table-heading, .table-heading-2 {
    padding-left: 6%;
}
#userTableHeading {
    padding-left: 0% !important;
}
.table-heading::after {
    font-weight: 600;
    content: '+';
}
.table-heading-2::after {
    font-weight: 600;
    content: '–';
}
.table-heading:hover, .table-heading-2:hover {
    cursor: pointer;
}
#activeJobsTable, #completedJobsTable, #headerSearch {
    background: lightgray;
    border-radius: 16px;
    color: black !important;
    width: 62%;
    left: 19%;
    position: relative;
    box-shadow: 0 0 20px 2px;
}
#table, #tableGrade {
    display: none;
    position: relative;
    width: 90%;
    left: 6%;
    overflow-x: auto;
    margin-bottom: 16px;
}
#logoffBtn, #supportBtn, #uploadExamBtn, #uploadUserBtn, #uploadExamFormBtn, #uploadUserFormBtn {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 20%;
    background-color: #003C07;
    color: white;
    border: 2px #003C07 solid;
}
#upload {
    position: absolute;
    font-weight: 650;
    font-size: 24px;
    height: 60px;
    width: 60px;
    top: 1.5%;
    right: calc(3% + 60px);
    background-color: #003C07;
    color: white;
    border: 2px lightgray solid;
}
#upload:hover {
    color: white !important;
}
#userUploadBody, #examUploadBody {
    display: none;
}
#examUploadTab, #userUploadTab, #saveGradeBtn {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 20%;
    background-color: #003C07;
    color: white;
    border: 2px #003C07 solid;
}
object {
    position: relative;
    left: 20%;
    display: none;
}
#backBtn {
    position: absolute;
    left: 1.5%;
    top: 1.5%;
    display: none;
    height: 60px;
    width: 60px;
    background-color: #003C07;
    color: white;
    border: 2px lightgray solid;
}
#commentBtn {
    position: absolute;
    left: calc(3% + 60px);
    top: 1.5%;
    display: none;
    height: 60px;
    width: 60px;
    background-color: #003C07;
    color: white;
    border: 2px lightgray solid;
}
#commentBtnImg {
    height: 26px;
}
#backBtnImg {
    height: 24px;
}
#gradeInput {
    resize: none;
}
