
html {
    height: 100%;
    background: rgb(0,60,7);
    background: linear-gradient(143deg, rgba(0,60,7,1) 7%, rgba(0,131,15,1) 33%, rgba(0,131,15,1) 100%);
    background-attachment: fixed;
}
#body {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 8%;
    left: 8%;
    padding: 16px;
    overflow-x: auto;
    background: lightgray;
    box-shadow: 0 0 20px 2px;
}
#confirmUploadBtn, #cancelUploadBtn {
    margin-top: 16px;
    width: 20%;
    background-color: #003C07;
    color: white;
    border: 2px #003C07 solid;
}